<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Zentrale</h1>

    <!-- hier n grid -->
    <main id="main-box">
        <div class="room">
            <h2>Raum 220</h2>
            <canvas></canvas>
            <div class="room-information">
                <div class="room-wet-or-dry">Wet</div>
                <button class="shutdown-button">Shutdown</button>
            </div>
        </div>
    </main>


</body>
</html>
